[Unit]
Description=Auto git_scripts_keeper for directories
After=network.target

[Service]
Type=oneshot
ExecStart=/YOUR_PATH/git_scripts_keeper/git_scripts_keeper.sh /YOUR_PATH/git_scripts_keeper/authors_gits.txt

[Install]
WantedBy=default.target
